{{> menu}}
<link rel="stylesheet"href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet"href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<div id='map' style="height: 400px;"></div>
 <button id="userproposals"type="button">View your proposal venues on the map</button>
   <button id="userweddings"type="button">View your wedding venues on the map</button>
   <button id="clearvenues"type="button">Clear venues</button>
  <div hidden="hidden" id="weddingVenuesStrings">{{{weddingVenuesStrings}}}</div>
  <div hidden="hidden" id="proposalVenueStrings">{{{proposalVenueStrings}}}</div>
   <script>
    const map = L.map("map").setView([51.8985, -8.84756], 7); // [lat, lng], zoom
     L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "© OpenStreetMap contributors"
     }).addTo(map);

    map.dragging.enable();

      L.Control.geocoder({
       defaultMarkGeocode: true 
       }).addTo(map);

    const rawWeddingVenues = document.getElementById("weddingVenuesStrings").textContent;
    const weddingVenues = JSON.parse(rawWeddingVenues);
    const rawProposalVenues = document.getElementById("proposalVenueStrings").textContent;
    const proposalVenues = JSON.parse(rawProposalVenues);
    
    const weddingicon = L.icon({
    iconUrl: "/images/dome.png",
    iconSize: [48, 48],
    iconAnchor: [16, 32],
    popupAnchor: [0, -32],
    });

    const proposalicon = L.icon({
    iconUrl: "/images/mappin.png",
    iconSize: [48, 48],
    iconAnchor: [16, 32],
    popupAnchor: [0, -32],
    });

    document.getElementById("userproposals").onclick = function() {getUserProposalVenues()};
    document.getElementById("userweddings").onclick = function() {getUserWeddingVenues()};
    document.getElementById("clearvenues").onclick = function() {clearvenues()};

    const markers = [];

  function getUserWeddingVenues(){
    weddingVenues.forEach(venue => {
    L.popup()
     .setLatLng([venue.latitude, venue.longitude])
     marker = L.marker([venue.latitude, venue.longitude], { icon: weddingicon }).addTo(map);
     const imgstr = venue.img;
    if (imgstr){
      const url = "<img src="+ imgstr + " style = 'width:200px;'>"
      marker.bindPopup(url + '<br>' + venue.title + '<br> Venue Type: ' + venue.venuetype + '<br> Description: ' + venue.description + '<br> Post type: ' + venue.visability);
    }else{
     marker.bindPopup(venue.title + '<br> Venue Type: ' + venue.venuetype + '<br> Description: ' + venue.description + '<br> Post type: ' + venue.visability);
    }
     markers.push(marker)
     });
   }


  function getUserProposalVenues(){
    proposalVenues.forEach(venue => {
    L.popup()
    .setLatLng([venue.latitude, venue.longitude])
     marker = L.marker([venue.latitude, venue.longitude], { icon: proposalicon }).addTo(map);
     const imgstr = venue.img;
    if (imgstr){
      const url = "<img src="+ imgstr + " style = 'width:200px;'>"
      marker.bindPopup(url + '<br>' + venue.title + '<br> Venue Type: ' + venue.venuetype + '<br> Description: ' + venue.description + '<br> Post type: ' + venue.visability);
    }else{
     marker.bindPopup(venue.title + '<br> Venue Type: ' + venue.venuetype + '<br> Description: ' + venue.description + '<br> Post type: ' + venue.visability);
    }
     markers.push(marker)
     });
  }
    
  function clearvenues(){
    markers.forEach(marker =>{
     map.removeLayer(marker);
    })
   }

    //https://leafletjs.com/reference.html#event-objects event object click
    map.on('click', function(ev) {
    const latitude = ev.latlng.lat; 
    const longitude = ev.latlng.lng;

  //setting the value of the id elements I will be needing on html side - brings it back to html
     document.getElementById("latitude").value = latitude.toFixed(6);
     document.getElementById("longitude").value = longitude.toFixed(6);
    
    L.popup()
    .setLatLng([latitude, longitude])
    .setContent('Choose this location! <br>'+'Latitude: ' + latitude.toFixed(6) + '<br>Longitude: ' + longitude.toFixed(6))
    .openOn(map);
    });
    
  </script>
<section class="section">
<form class="box"  action="/venue/{{area._id}}/updatevenue/{{venue._id}}" method="POST">
    <div class="box box-link-hover-shadow">
  </div>
  <label>Update Venue Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title", value="{{venue.title}}">
      </div>
      <div class="field">
        <select class="input" type="text" name="venuetype" value="{{venue.venuetype}}">
          <option value="proposal">proposal</option>
          <option value="wedding">wedding</option>
        </select>
      </div>
      <div class="field">
        <input class="input" type="text"  name="description" value="{{venue.description}}">
      </div>
      <div class="field">
        <input class="input"  id="latitude" type="text"  name="latitude" value="{{venue.latitude}}">
      </div>
      <div class="field">
        <input class="input" id="longitude" type="text"  name="longitude" value="{{venue.longitude}}">
      </div>
      <div class="field">
        <select class="input" id="visability" type="text" placeholder="make this public?" name="visability" value="{{venue.visability}}">
          <option value="public">public</option>
          <option value="private">private</option>
        </select>
  </div>
  <button class="button is-info">Update Venue</button>
</form>
</section>
<section>
   <div>
        <div class="image">
             {{> venue-image }}
         </div>
    </div>
</section>